In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
from abcd.local.paths import core_path, output_path
from abcd.data.read_data import get_subjects_events, add_event_vars

In [3]:
# Fetch subjects and events
subjects_df, events_df = get_subjects_events()

In [4]:
# Add substance use beh
SU_SCORES = {"bal_test1_result_y": "Test 1 Day 1",
             "bal_test2_result_y": "Test 2 Day 1",
             "bal2_test1_result_y": "Test 1 Day 2",
             "bal2_test2_result_y": "Test 2 Day 2"}    

su_file = os.path.join(core_path, "substance-use", "su_y_alc_tox.csv")
su_events_df = add_event_vars(events_df, su_file, vars=list(SU_SCORES.keys()))

In [7]:
su_events_df.loc[su_events_df['bal_test1_result_y'] == 2]

,src_subject_id,interview_date,eventname,interview_age,rsfmri_c_ngd_ad_ngd_ad,rsfmri_c_ngd_ad_ngd_cgc,rsfmri_c_ngd_ad_ngd_ca,rsfmri_c_ngd_ad_ngd_dt,rsfmri_c_ngd_ad_ngd_dla,rsfmri_c_ngd_ad_ngd_fo,...,rsfmri_c_ngd_vs_ngd_rspltp,rsfmri_c_ngd_vs_ngd_sa,rsfmri_c_ngd_vs_ngd_smh,rsfmri_c_ngd_vs_ngd_smm,rsfmri_c_ngd_vs_ngd_vta,rsfmri_c_ngd_vs_ngd_vs,bal_test1_result_y,bal_test2_result_y,bal2_test1_result_y,bal2_test2_result_y
8604,NDAR_INVEW9ZPKZK,01/21/2019,2_year_follow_up_y_arm_1,150.0,0.246134,0.144725,-0.052239,-0.034822,-0.052895,-0.047451,...,0.037991,0.008028,-0.029167,0.056883,-0.067139,0.300711,2.0,2.0,NaN,NaN
13103,NDAR_INVNRKEL6CB,12/06/2021,4_year_follow_up_y_arm_1,177.0,0.247070,0.078962,-0.021423,-0.019925,-0.084704,-0.068054,...,0.168738,-0.053476,0.016738,0.001865,-0.106061,0.278290,2.0,1.0,NaN,NaN
15567,NDAR_INVV18LRYXU,12/22/2021,4_year_follow_up_y_arm_1,182.0,0.250416,0.111516,0.023777,-0.005456,0.049619,0.034949,...,0.225775,-0.185641,-0.036261,0.078534,-0.152446,0.506182,2.0,1.0,NaN,NaN

In [8]:
su_events_df.loc[su_events_df['bal_test2_result_y'] == 2]

,src_subject_id,interview_date,eventname,interview_age,rsfmri_c_ngd_ad_ngd_ad,rsfmri_c_ngd_ad_ngd_cgc,rsfmri_c_ngd_ad_ngd_ca,rsfmri_c_ngd_ad_ngd_dt,rsfmri_c_ngd_ad_ngd_dla,rsfmri_c_ngd_ad_ngd_fo,...,rsfmri_c_ngd_vs_ngd_rspltp,rsfmri_c_ngd_vs_ngd_sa,rsfmri_c_ngd_vs_ngd_smh,rsfmri_c_ngd_vs_ngd_smm,rsfmri_c_ngd_vs_ngd_vta,rsfmri_c_ngd_vs_ngd_vs,bal_test1_result_y,bal_test2_result_y,bal2_test1_result_y,bal2_test2_result_y
8604,NDAR_INVEW9ZPKZK,01/21/2019,2_year_follow_up_y_arm_1,150.0,0.246134,0.144725,-0.052239,-0.034822,-0.052895,-0.047451,...,0.037991,0.008028,-0.029167,0.056883,-0.067139,0.300711,2.0,2.0,NaN,NaN

In [9]:
su_events_df.loc[su_events_df['bal2_test1_result_y'] == 2]

,src_subject_id,interview_date,eventname,interview_age,rsfmri_c_ngd_ad_ngd_ad,rsfmri_c_ngd_ad_ngd_cgc,rsfmri_c_ngd_ad_ngd_ca,rsfmri_c_ngd_ad_ngd_dt,rsfmri_c_ngd_ad_ngd_dla,rsfmri_c_ngd_ad_ngd_fo,...,rsfmri_c_ngd_vs_ngd_rspltp,rsfmri_c_ngd_vs_ngd_sa,rsfmri_c_ngd_vs_ngd_smh,rsfmri_c_ngd_vs_ngd_smm,rsfmri_c_ngd_vs_ngd_vta,rsfmri_c_ngd_vs_ngd_vs,bal_test1_result_y,bal_test2_result_y,bal2_test1_result_y,bal2_test2_result_y
11570,NDAR_INVKZWUWMFK,03/06/2020,2_year_follow_up_y_arm_1,148.0,0.294224,0.167169,-0.128035,-0.069182,-0.047160,0.007004,...,0.261003,-0.076477,-0.074441,-0.070427,-0.184422,0.476099,1.0,NaN,2.0,1.0
18256,NDAR_INVZXF5C635,12/20/2018,2_year_follow_up_y_arm_1,146.0,0.232427,0.123254,0.057319,-0.074365,-0.013922,-0.005634,...,0.107842,-0.091105,-0.102759,-0.139940,-0.076992,0.407496,1.0,NaN,2.0,1.0

In [10]:
su_events_df.loc[su_events_df['bal2_test2_result_y'] == 2]

Empty DataFrame
Columns: [src_subject_id, interview_date, eventname, interview_age, rsfmri_c_ngd_ad_ngd_ad, rsfmri_c_ngd_ad_ngd_cgc, rsfmri_c_ngd_ad_ngd_ca, rsfmri_c_ngd_ad_ngd_dt, rsfmri_c_ngd_ad_ngd_dla, rsfmri_c_ngd_ad_ngd_fo, rsfmri_c_ngd_ad_ngd_n, rsfmri_c_ngd_ad_ngd_rspltp, rsfmri_c_ngd_ad_ngd_sa, rsfmri_c_ngd_ad_ngd_smh, rsfmri_c_ngd_ad_ngd_smm, rsfmri_c_ngd_ad_ngd_vta, rsfmri_c_ngd_ad_ngd_vs, rsfmri_c_ngd_cgc_ngd_ad, rsfmri_c_ngd_cgc_ngd_cgc, rsfmri_c_ngd_cgc_ngd_ca, rsfmri_c_ngd_cgc_ngd_dt, rsfmri_c_ngd_cgc_ngd_dla, rsfmri_c_ngd_cgc_ngd_fo, rsfmri_c_ngd_cgc_ngd_n, rsfmri_c_ngd_cgc_ngd_rspltp, rsfmri_c_ngd_cgc_ngd_sa, rsfmri_c_ngd_cgc_ngd_smh, rsfmri_c_ngd_cgc_ngd_smm, rsfmri_c_ngd_cgc_ngd_vta, rsfmri_c_ngd_cgc_ngd_vs, rsfmri_c_ngd_ca_ngd_ad, rsfmri_c_ngd_ca_ngd_cgc, rsfmri_c_ngd_ca_ngd_ca, rsfmri_c_ngd_ca_ngd_dt, rsfmri_c_ngd_ca_ngd_dla, rsfmri_c_ngd_ca_ngd_fo, rsfmri_c_ngd_ca_ngd_n, rsfmri_c_ngd_ca_ngd_rspltp, rsfmri_c_ngd_ca_ngd_sa, rsfmri_c_ngd_ca_ngd_smh, rsfmri_c_ngd_ca_ngd_smm, rsfmri_c_ngd_ca_ngd_vta, rsfmri_c_ngd_ca_ngd_vs, rsfmri_c_ngd_dt_ngd_ad, rsfmri_c_ngd_dt_ngd_cgc, rsfmri_c_ngd_dt_ngd_ca, rsfmri_c_ngd_dt_ngd_dt, rsfmri_c_ngd_dt_ngd_dla, rsfmri_c_ngd_dt_ngd_fo, rsfmri_c_ngd_dt_ngd_n, rsfmri_c_ngd_dt_ngd_rspltp, rsfmri_c_ngd_dt_ngd_sa, rsfmri_c_ngd_dt_ngd_smh, rsfmri_c_ngd_dt_ngd_smm, rsfmri_c_ngd_dt_ngd_vta, rsfmri_c_ngd_dt_ngd_vs, rsfmri_c_ngd_dla_ngd_ad, rsfmri_c_ngd_dla_ngd_cgc, rsfmri_c_ngd_dla_ngd_ca, rsfmri_c_ngd_dla_ngd_dt, rsfmri_c_ngd_dla_ngd_dla, rsfmri_c_ngd_dla_ngd_fo, rsfmri_c_ngd_dla_ngd_n, rsfmri_c_ngd_dla_ngd_rspltp, rsfmri_c_ngd_dla_ngd_sa, rsfmri_c_ngd_dla_ngd_smh, rsfmri_c_ngd_dla_ngd_smm, rsfmri_c_ngd_dla_ngd_vta, rsfmri_c_ngd_dla_ngd_vs, rsfmri_c_ngd_fo_ngd_ad, rsfmri_c_ngd_fo_ngd_cgc, rsfmri_c_ngd_fo_ngd_ca, rsfmri_c_ngd_fo_ngd_dt, rsfmri_c_ngd_fo_ngd_dla, rsfmri_c_ngd_fo_ngd_fo, rsfmri_c_ngd_fo_ngd_n, rsfmri_c_ngd_fo_ngd_rspltp, rsfmri_c_ngd_fo_ngd_sa, rsfmri_c_ngd_fo_ngd_smh, rsfmri_c_ngd_fo_ngd_smm, rsfmri_c_ngd_fo_ngd_vta, rsfmri_c_ngd_fo_ngd_vs, rsfmri_c_ngd_n_ngd_ad, rsfmri_c_ngd_n_ngd_cgc, rsfmri_c_ngd_n_ngd_ca, rsfmri_c_ngd_n_ngd_dt, rsfmri_c_ngd_n_ngd_dla, rsfmri_c_ngd_n_ngd_fo, rsfmri_c_ngd_n_ngd_n, rsfmri_c_ngd_n_ngd_rspltp, rsfmri_c_ngd_n_ngd_sa, rsfmri_c_ngd_n_ngd_smh, rsfmri_c_ngd_n_ngd_smm, rsfmri_c_ngd_n_ngd_vta, rsfmri_c_ngd_n_ngd_vs, rsfmri_c_ngd_rspltp_ngd_ad, rsfmri_c_ngd_rspltp_ngd_cgc, rsfmri_c_ngd_rspltp_ngd_ca, rsfmri_c_ngd_rspltp_ngd_dt, rsfmri_c_ngd_rspltp_ngd_dla, ...]
Index: []

[0 rows x 177 columns]

In [14]:
import abcd.utils.io as io
events_df = io.load_df(output_path, "events_gi")

In [15]:
su_file = os.path.join(core_path, "substance-use", "su_y_alc_tox.csv")
su_events_df = add_event_vars(events_df, su_file, vars=list(SU_SCORES.keys()))

In [16]:
su_events_df.loc[su_events_df['bal_test1_result_y'] == 2]

,src_subject_id,interview_date,eventname,interview_age,bal_test1_result_y,bal_test2_result_y,bal2_test1_result_y,bal2_test2_result_y
537,NDAR_INV0CTJAAHC,01/13/2022,4_year_follow_up_y_arm_1,165.0,2.0,2.0,NaN,NaN
15408,NDAR_INVCX5X4BAH,02/18/2020,3_year_follow_up_y_arm_1,150.0,2.0,1.0,NaN,NaN
16100,NDAR_INVDDWUHYTJ,06/09/2019,1_year_follow_up_y_arm_1,139.0,2.0,1.0,NaN,NaN
17728,NDAR_INVEW9ZPKZK,01/21/2019,2_year_follow_up_y_arm_1,150.0,2.0,2.0,NaN,NaN
17963,NDAR_INVF3TR916K,10/25/2019,2_year_follow_up_y_arm_1,149.0,2.0,4.0,NaN,NaN
25842,NDAR_INVMRH2PB50,04/02/2019,2_year_follow_up_y_arm_1,153.0,2.0,2.0,1.0,NaN
26444,NDAR_INVN6VRV5HK,04/30/2019,1_year_follow_up_y_arm_1,119.0,2.0,1.0,NaN,NaN
26994,NDAR_INVNRKEL6CB,12/06/2021,4_year_follow_up_y_arm_1,177.0,2.0,1.0,NaN,NaN
32158,NDAR_INVV18LRYXU,12/22/2021,4_year_follow_up_y_arm_1,182.0,2.0,1.0,NaN,NaN
34037,NDAR_INVWM1W0UPC,03/01/2020,3_year_follow_up_y_arm_1,156.0,2.0,1.0,NaN,NaN

In [17]:
su_events_df.loc[su_events_df['bal_test2_result_y'] == 2]

,src_subject_id,interview_date,eventname,interview_age,bal_test1_result_y,bal_test2_result_y,bal2_test1_result_y,bal2_test2_result_y
537,NDAR_INV0CTJAAHC,01/13/2022,4_year_follow_up_y_arm_1,165.0,2.0,2.0,NaN,NaN
17728,NDAR_INVEW9ZPKZK,01/21/2019,2_year_follow_up_y_arm_1,150.0,2.0,2.0,NaN,NaN
25842,NDAR_INVMRH2PB50,04/02/2019,2_year_follow_up_y_arm_1,153.0,2.0,2.0,1.0,NaN

In [18]:
su_events_df.loc[su_events_df['bal2_test1_result_y'] == 2]

,src_subject_id,interview_date,eventname,interview_age,bal_test1_result_y,bal_test2_result_y,bal2_test1_result_y,bal2_test2_result_y
1789,NDAR_INV1CV6NNKT,05/01/2018,baseline_year_1_arm_1,116.0,1.0,NaN,2.0,1.0
4884,NDAR_INV3YYCAC9G,03/31/2019,2_year_follow_up_y_arm_1,137.0,6.0,NaN,2.0,1.0
23823,NDAR_INVKZWUWMFK,03/06/2020,2_year_follow_up_y_arm_1,148.0,1.0,NaN,2.0,1.0
37780,NDAR_INVZXF5C635,12/20/2018,2_year_follow_up_y_arm_1,146.0,1.0,NaN,2.0,1.0

In [19]:
su_events_df.loc[su_events_df['bal2_test2_result_y'] == 2]

Empty DataFrame
Columns: [src_subject_id, interview_date, eventname, interview_age, bal_test1_result_y, bal_test2_result_y, bal2_test1_result_y, bal2_test2_result_y]
Index: []